<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Map Generator</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="nav">
        <a href="{{ url_for('index') }}">Generátor map</a>
    </div>